.product-detail-gallery .swiper-slide {
    width: 100% !important;
}
.product-detail-gallery .mySwiper {
    height: 20% !important;
    box-sizing: border-box;
    padding: 10px 0;
}
.product-detail-gallery .mySwiper .swiper-slide {
    width: 25% !important;
    cursor: pointer;
    height: 100%;
    opacity: 0.4;
    &:hover {
        opacity: 1;
    }
    & img {
        border-radius: 10%;
        width: 95%;
        border: 1px solid rgba(64, 64, 64, 0.275);
    }
}
.product-detail-gallery .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
}
